{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit_TODO</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/js/all.min.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="signup-login">
        <div><h1>Hello {{user}}</h1></div>
        <div class="signup-box">
            <div class="heading">
                Get Things Done ?
            </div>
            <i class="fa-solid fa-right-from-bracket"></i>
            <form method="post">
                {% csrf_token %}
                <input type="text" class="inp" name="title" required placeholder="Edit Task?" value="{{obj.title}}">
                <input type="submit" class="submit-button" value="Update Task">

            </form>
            {%for todo in res %}
                <div class="Todo">
                    <h5>{{todo.sno}}</h5>
                    <p>{{todo.title}}</p>
                    <div>
                        <a href="#"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="#"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
