{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <div class="signup-login">
        <div class="signup-box">
            <form method="post">
                {% csrf_token %}
                <div class="heading">
                    Login
                </div>
                <div class="line"></div>
                <div class="field">
                    <b>Username</b>
                    <input type="'text" required class="inp" placeholder="Enter your username" name="fnm">
                </div>
                <div class="field">
                    <b>Password</b>
                    <input type="password" class="inp" name="pwd" required placeholder="Enter your password">
                </div>
                <div class="field">
                    <input type="submit" class="submit-button" value="signin">
                </div>
                <div class="line"></div>
                <div class="field">
                    <b>Don't have an Account ?</b>
                    <br>
                    <a href="/signup" class="anc">signup</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
